.App {
  text-align: center;
}

table {
  border: 1px solid lightgrey;
  margin: 10px 20px;
  text-align: left;
  border-spacing: 0;
  height: 80%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid lightgrey;
  padding: 15px;

}
th {
  background-color: #f1356d;
  color: white;
}
.fab {
  margin: 0px;
  top: auto;
  right: 10px;
  bottom: 20px;
  left: auto;
  float: right;
};



